# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.db
*.db-shm
*.db-wal
*.opendb
*.ipch
*.sbr
CIE205Project_Code_S2021/.vs/CastleDSProject/v16/.suo
*.bsc
*.recipe
*.ilk
*.log
*.pdb
*.tlog
*.idb
CIE205Project_Code_S2021/Debug/CastleDSProject.vcxproj.FileListAbsolute.txt
